<form class="modal-content animate" #changePassword="ngForm" (ngSubmit)="changePassword1(changePassword.value)" novalidate>
    
    <div class="form-wrapper">
      <label for="psw"><b>Present Password :</b></label><br/>
      <input ngModel type="password" placeholder="Enter Present Password"  #presentpassword = "ngModel" name="presentpassword" required>
      <div class = "text-danger">
        <div *ngIf="changePassword.touched && presentpassword.errors?.required">Please enter Present Password</div>
      </div>
      </div>
    
    
      <div class="form-wrapper">
      <label for="psw"><b>New Password :</b></label><br/>
      <input ngModel  type="password" placeholder="Enter newpassword" #newpassword = "ngModel" name="newpassword" required>
      <div class = "text-danger">
        <div *ngIf="changePassword.touched && newpassword.errors?.required">Please enter newpassword</div>
      </div>
      </div>
    
    
      <div class="form-wrapper">
      <label for="psw"><b>Confirm Password :</b></label><br/>
      <input ngModel  type="password" placeholder="Enter Confirm Password" #conpass = "ngModel" name="conpass" required>
      <div class = "text-danger">
        <div *ngIf="changePassword.touched && conpass.errors?.required">Please enter Confirm Password</div>
      </div>
      </div>
      <br/>
  
      <div style="text-align: center;"> 
        <button [disabled] = "!changePassword.valid" class="btn btn-danger" >Change Password</button>
      </div>
      </form>