<style>
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .required
{
    color: red;
}
  .button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #6666ff;
}

.button2:hover {
  background-color: #6666ff;
  color: white;
}
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
 
  </style>
 
  
  
  
  <div style="text-align: center;" >
    <form class="modal-content animate" #changePassword="ngForm" (ngSubmit)="changePassword1(changePassword.value)" novalidate>
      
      <div class="form-wrapper">
        <label for="psw"><b>Present Password</b><span class="required">*</span></label><br/>
        <input ngModel type="password" placeholder="Enter Present Password"  #presentpassword = "ngModel" name="presentpassword" required>
       
        </div>
      
      
        <div class="form-wrapper">
        <label for="psw"><b>New Password</b><span class="required">*</span></label><br/>
        <input ngModel  type="password" placeholder="Enter newpassword" #newpassword = "ngModel" name="newpassword" required>
       
        </div>
      
      
        <div class="form-wrapper">
        <label for="psw"><b>Confirm Password</b><span class="required">*</span></label><br/>
        <input ngModel  type="password" placeholder="Enter Confirm Password" #conpass = "ngModel" name="conpass" required>
        
        </div>
        <br/>
    
        <div style="text-align: center;width: 190px;padding-left: 530px;"> 
          <button [disabled] = "!changePassword.valid" class="button button2" >Change Password</button>
        </div>
        </form>
  </div>
  

  
  